<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="D:\eclipseProject\qjy\WebRoot\WEB-INF\lib\mysql-connector-java-5.1.7-bin.jar" />

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <!-- 数据库链接地址，账号，密码 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://47.108.93.108:3206/ms"
                        userId="root"
                        password="root">
        </jdbcConnection>

        <!-- DataObject存放位置-->
        <javaModelGenerator targetPackage="com.seckill.componet.dataobject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- 生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapper"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- 生成dao存放位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.seckill.componet.dao"  targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <table  tableName="tb_miaoshaGoods" domainObjectName="MiaoshaGoods" selectByExampleQueryId="false" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"> </table>

    </context>
</generatorConfiguration>